name: Build Classic for Windows

on:
  pull_request:
    branches:
      - classic
  workflow_dispatch: null

env:
  ENABLE_ARTIFACTS_MODE: "true"
  MOZCONFIG: "./.mozconfig-ga"
  SHELL: "/bin/bash"

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2
      - name: Set build directory and system path
        run: |
          $pattern = '[\\]'
          $BUILD_DIR = $env:GITHUB_WORKSPACE -replace $pattern, '/'
          echo "${BUILD_DIR}"
          echo "G_WORKSPACE=${BUILD_DIR}" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append
          echo "C:\ProgramData\scoop\apps\llvm\current\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Install depends
        run: |
          iwr -useb get.scoop.sh | iex
          scoop install sccache llvm nasm --global
          mkdir -p ~\\scoop\\buckets\\my-bucket
          Copy-Item -Path $env:GITHUB_WORKSPACE\\build\\github-actions\\mozilla-build.json -Destination ~\scoop\buckets\my-bucket
          scoop install my-bucket/mozilla-build --global
      - name: Build
        run: |
          clang-cl --version
          Set-Variable -Name "MOZ_NO_RESET_PATH" -Value "1"
          C:\\ProgramData\\scoop\\apps\\mozilla-build\\current\\start-shell.bat "$Env:G_WORKSPACE/build/github-actions/build.sh"
